spring:
  profiles:
    active: local
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
    version: 1

server:
  port: 8080
  tomcat:
    mbeanregistry:
      enabled: true

management:
  metrics:
    export:
      cloudwatch:
        enabled: false

---
spring:
  config:
    activate:
      on-profile: local
    import: application-local.yml

---
spring:
  config:
    activate:
      on-profile: ci
    import: application-ci.yml

---
spring:
  config:
    activate:
      on-profile: prod
    import:
      - classpath:be-config/application-prod.yml

---
spring:
  config:
    activate:
      on-profile: dev
    import:
      - classpath:be-config/application-dev.yml
