spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
  h2:
    console:
      enabled: true
  jpa:
    properties:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate:
        format_sql: true
        show_sql: true
  flyway:
    locations: classpath:db/migration/prod

report-check-origin: fake-origin.com
cors-allow-origins: http://localhost:3000

jwt:
  secret-key: secret
  valid-time: 604800 # 60 * 60 * 24 * 7 (일주일)

cookie:
  valid-time: 604800 # 60 * 60 * 24 * 7 (일주일)
  name: HCC_SES

amazon:
  aws:
    accessKey: access-key
    secretKey: secret-key
    region: ap-northeast-2
    bucket: bucket-name

image:
  origin-prefix: origin/
  replaced-prefix: replace/

korunsmile:
  token: ${HF_TOKEN:dummy-token}

beomi:
  api-key: ${CLARIFAI_KEY:dummy-key}