spring:
  profiles:
    active: local
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
    version: 1

server:
  port: 8080
  tomcat:
    mbeanregistry:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    enable:
      all: false
      jvm: true           # GC/메모리/스레드
      tomcat: true        # 톰캣 스레드/커넥터
      hikaricp: true      # 커넥션 풀 상태
      http.server: true   # 요청/응답(경로별 집계에 필요)

      # 사용하지 않고 있는 것들
      logback: false
      system: false
      process: false
      jdbc: false
      http.client: false
      executor: false

---
spring:
  config:
    activate:
      on-profile: local
    import: application-local.yml

---
spring:
  config:
    activate:
      on-profile: ci
    import: application-ci.yml

---
spring:
  config:
    activate:
      on-profile: prod
    import:
      - classpath:be-config/application-prod.yml

---
spring:
  config:
    activate:
      on-profile: dev
    import:
      - classpath:be-config/application-dev.yml
