name: spring server cd

on:
  workflow_dispatch:
  push:
    branches: [ "main", "5th-release", "chore/#380-dockerfile" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 저장소 Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.ACTION_TOKEN }}

      - name: update submodules
        run: git submodule update --remote

      - name: 자바 17 설정
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      #      - name: 타임존 설정
      #        uses: szenius/set-timezone@v1.2
      #        with:
      #          timezoneLinux: "Asia/Seoul"

      - name: 빌드
        run: ./gradlew build

      - name: 도커 이미지 빌드
        run: docker build -t ${{ secrets.DOCKER_IMG }} .

      - name: Docker Hub 로그인
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Hub push
        run: docker push ${{ secrets.DOCKER_IMG }}

      - name: scp docker-compose
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.WAS_HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          source: "./src/main/resources/be-config/docker/docker-compose.yml"
          target: "/home/ubuntu"
          strip_components: 6

      - name: scp promtail-config
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.WAS_HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          source: "./src/main/resources/be-config/monitoring/promtail-config.yml"
          target: "/home/ubuntu"
          strip_components: 6

      - name: 배포
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.WAS_HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: |
            docker-compose -f docker-compose.yml down
            docker image prune -f
            docker pull ${{ secrets.DOCKER_IMG }}
            docker-compose -f docker-compose.yml up -d
