name: CI TEST
on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: 저장소 Checkout
        uses: actions/checkout@v3

      - name: 자바 17 설정
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Docker 상태 확인
        run: docker info

      - name: 테스트 실행
        env:
          SPRING_PROFILES_ACTIVE: ci
        run: ./gradlew test --stacktrace --quiet